@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}